/* General Styles */

* {
  margin: 0;
  padding: 0;

  /* Ensure no height overflow */
  box-sizing: border-box; 
}

h1 {
  text-align: center;
  padding: 10px 0;
}

/* Contains main content and footer */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contains component page */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* GenInfo form-container */
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: pink;
}

/* Submit Buttons */
.submit-btn {
  background-color: lightblue;
}